body,html{font-size: 12px;}
.scrollable-content{ padding:0px 10px 10px; background: #ffffff;}
.scrollable-content.home{background-color: #004c7d;}
.media{ padding: 10px;}
a.homelnk, a.homelnk:hover{display: inline-block; text-decoration: none; height:100%; width: 100%; padding: 20px 0px; background: rgba(0,76,157,0.5); color: #ffffff;}
a.homelnk:hover{ background: rgba(0,76,157,0.7);}
hr {
    border-color: rgba(155, 155, 155, 0.1);
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    margin: 0;
    margin-top: 6px;
    height: 0;
}
.col-sm-3{ border:1px solid #004CAD; padding:0px; text-align: center;}
.col-xs-3{ border:1px solid #004CAD; padding: 0px; text-align: center;}
.col-sm-3:first-child, .col-xs-3:first-child{margin-left: 4%;}
p.blue{color: #004c7d; font-size: 14px; padding-top: 5px;}
a{text-decoration: none; display: block;}

.navbar{min-height: 34px;}
.sub-navbar{min-height: 51px;}
.navbar-absolute-top{ background-color: #ffffff; border-bottom: 2px solid #EE1C24;}

.app-name + .scrollable, .sidebar-header + .scrollable {
    padding-top: 50px;
}
.app-name, .sidebar-header { line-height: 50px; }

.ng-dirty input.ng-invalid, input.ng-invalid, textarea.ng-invalid {
    border-color: rgb(255, 0, 0);
}

.inerror{ color : rgb(255, 0, 0);}
.suberror{ color : #fff;}
.sub-btn{
background-color: #3F51B5 !important;
border-color: none;
}
.formpadd{ margin-bottom :8px;}
.navbar-app .btn, .navbar-app .btn-navbar { color: #777777; }

.navbar-absolute-bottom.homefooter {
    border-bottom: 0 none;
    border-top-width: 0px;
    bottom: 0;
    top: auto;
    background-color: #004c7d;
}

.label{top:-10px !important; padding: 0 !important; color: red; font-size: 11px;}

.fa-navbar{ color: #004c7d;}
/*.fa-file-pdf-o{ color: red;} */
/*.fa-map-marker{ color: #db4437;} */
.fa-map-marker.white{ color: #ffffff ;}
.fa-map-marker.black{ color: #000000 ;}
.fa-youtube-play{ color: #cc181e;}

.control-label { line-height: 16px;}
/*
.subHeader{ background-color: #3f51b5 !important; margin: 0px -10px; padding:10px 10px 1px 10px; color: #ffffff important;border-bottom: 0px solid #ffffff !important;min-height: 35px;}
*/
.subHeader{ background-color: #3f51b5 !important; margin: 0px -10px;min-height: 32px; color: #ffffff !important; border-bottom: 0px solid #ffffff !important;}
.subHeader > h2 { display: block; width: 90%; font-size: 20px; text-align:center; min-height: 32px; padding: 7px 0px; }
.subHeader a, a.dropdown-toggle{padding: 4px 8px 8px 8px; display: inline-block;}
.subHeader a i{ padding: 0px 0px 3px 5px; font-size: 24px !important; color: #ffffff;}
.fullimg{margin: 0px -10px;}
.mt10{margin-top: 10px;}
.cards{ 
    -moz-box-shadow: 1px 1px 3px #ccc;
    -webkit-box-shadow: 1px 1px 3px #ccc;
    	box-shadow: 1px 1px 3px #ccc;
	margin-bottom: 10px;
 }
.imgPlace{ min-height: 113px; background: #e5e5e5 url(../img/icon.png) center center no-repeat; }
.newsdate{ padding-bottom: 10px; color: #004c7d;}
a.list-group-item{padding: 2px; color: #555555; border:0px solid; }
a.list-group-item.active{ background-color: #ffffff !important; text-align: center;}
.list-group-item-heading{color: #004c7d !important; margin-top: 4px;}
a.list-group-item span{color: #555555;}

.btn{font-size: 16px; text-transform: none;}
.btn.sub-tab{font-size: 13px; text-transform: none !important; line-height: 34px; color: #222; border-left: 1px solid #ccc;}
.btn.sub-tab:first-child{border-left-width: 0px;}
.btn-color { background-color: #004C7D !important; }
.btn.tabactive{ background-color: #5677fc; color: #ffffff;}
.btn.tabactive i{ color: #ffffff;}
.btn.tabactive:hover{ color: #ffffff;}
a.btn-navbar{padding-left: 0px !important;}
tr:nth-child(2n+1){background-color: #f5f5f5;}
.optionpadd { padding: 20px;}
.form-group { padding: 0px; }
.padd-btn{ margin-top:10px; }

.sidebar-left{background-color: #004c7d;}
.slidemenu ul {
	margin: 0;
	padding: 0;
	width: inherit;
}
.slidemenu ul li {
	list-style-type: none;
	margin: 0px;
	border-bottom: 1px #e5e5e5 solid;
}
.slidemenu ul li a:link, .slidemenu ul li a:visited {
	font-weight: 100;
	color: #444;
	font-size: 14px;
	text-decoration: none;
	display: block;
	padding: 10px 0px 10px 10px;
}

.borderbt{border-bottom: 1px #e5e5e5 solid;}

.slidemenu ul li a:hover, .slidemenu ul li a:active {
	color: red;
}

.slidemenu ul li ul{
	margin-left: 37px;
}

.slidemenu ul li ul li {
	border-bottom: 0px #fff solid;
}



.slidemenu ul li img {
	color: #222222;
}


.slidemenu_btn .ui-icon-shadow {
	-moz-box-shadow: 0 0px 0 rgba(255,255,255,0);
	-webkit-box-shadow: 0 0px 0 rgba(255,255,255,0);
	box-shadow: 0 0px 0 rgba(255,255,255,0);
}

.slidemenu_btn .ui-btn-inner {
	border-top: 0px;
}
.slidemenu_btn .ui-icon {
	margin: 4px 1px 2px 2px !important;
	width: 25px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}

.slidemenu_btn .ui-icon, .ui-icon-searchfield::after {
	background: none;
}

.slidemenu_btn.ui-btn-icon-notext {
	width: 30px;
}
.img-block
{
	 height:64px;
	 width:109px;
}

/* Animation */
.slide {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    left: 100%;
}
.slide.ng-enter-active {
    left: 0;
}
.slide.ng-leave { left: 0;}
.slide.ng-leave-active { left: -100%;}
.noresult
{
	color:red;
	font-size: 14px;
	padding-top: 10px;
	text-align:center;
}
.form-control :focus{ border-color:none; }
.about
{
	text-align:justify;
	padding-top:10px;
}
.breadcrumb {
    background-color: #F5F5F5;
    border-radius: 4px 4px 4px 4px;
    list-style: none outside none;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 8px 15px;
}
.breadcrumb > li + li:before {
    color: #000000;
    content: "/ ";
    padding: 0 5px;
}
.dropdown-menu{left:190px !important; top:40px !important;}
.sub-label {color: #fff;}
.breadcrumb {list-style: none outside none;}
.breadcrumb > .active {color: #000;}
.breadcrumb > li {display: inline-block;}
li a.dropactive {background-color: #5677fc; color: #ffffff;}
li a:hover{ color: #ffffff;}
li a.dropactive:hover{ background-color: #5677fc;color: #ffffff;}
.notification a h4,p{ color: #555555; }
.notification a:hover {text-decoration: none;}
.panel-heading{background-color: #3F51B5 !important;}
.panel-title a span {color : #fff; font-size:15px;}
.panel-title a:hover {text-decoration: none; }
.panel-title a{text-decoration: none;}
.subscribe-footer{background-color: #fff;border-top-width:0px;}
.panel-heading a i{
padding: 8px;
color: #fff;
display: inline-block;
text-decoration: none;
}
.carousel-indicators{display: none;}

.browser-android select {    
  -webkit-appearance: listbox;
  background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-right: 20px;
  padding-left:20px;
  height : 300px;
}
.social-link {text-decoration:none;display:block;width:100%;border-bottom: 1px solid #e5e5e5;padding:4px;}
.social-link:hover{text-decoration:none;}
.rate {text-align:center;margin-top:20px;margin-bottom: 10px;}
.rate-btn{font-size: 10px;}
.support{text-align: center;}
.heart-red{color: red;}
.heart-red:hover{color: rgba(255, 0, 189, 1);}
.app-support:hover{text-decoration:none;}
input[type="radio"] { margin: 10px 4px 0px; }
.radio-span{font-size:12px;}
.radio-label{font-size:14px;padding-top:12px;padding-bottom:3px;color: #3f51b5 !important;}
.search-btn{font-size:12px;padding : 6px 8px;;background-color:#ccc;border-color:#fff;color:#000;}
.search-btn.active {background-color:#666;border-color:#fff;}
.search-btn:hover{ 
color: #FFF;
background-color: #666;
border-color: #fff;
}
.search-grp{padding-top:3px;}
.padd-btn1{margin-top: 15px;}
.color-red { color : #ee1c24; }
.searchbtm{ position: absolute; bottom: 0; }
.searchbtm{ width: 100%; max-width: 100%; height: auto;}
.logo-img{margin-bottom: 5px;}
.btn.sub-tab i{ padding-left :9px;}

.modal-body {padding : 10px;}
.modal-header {min-height : 60.429px;}
.modal-title{line-height: 2;}
