<div class="scrollable">
  <div class="scrollable-content">
  		<div class="subHeader"><a href = "" ng-click="backfun()" class="pull-left"><i class="fa fa-angle-left">&nbsp;&nbsp;</i></a><h2>{{title}}</h2></div>
  		<span ng-show="!loader">
  		<div class="fullimg"><img src="img/about-hindva.jpg" class="img-responsive"></div>
		<p></p>	
		
    		<accordion close-others="true" >
                  <accordion-group  is-open="isopen" ng-repeat="item in items" >
                      <accordion-heading >
                        {{item.desc}}
                          <i class="pull-right fa" 
                                ng-class="{'fa-angle-down': isopen, 'fa-angle-right': !isopen}"></i>
                      </accordion-heading>
                      <p  style="text-align:justify" ng-bind-html = "item.information| html" ></p>
                  </accordion-group>
           </accordion>
    		</span>
    		<img src="img/loading.gif" style="align:center;" ng-show="loader"> 
  </div>
</div>


