<div class="scrollable">
  	<div class="scrollable-content">
  	<div class="subHeader">
  	<span class="dropdown" is-open="status.isopen">
  	<a href = "" class="pull-right dropdown-toggle"><i class="fa fa-ellipsis-v"></i></a>
  	<ul class="dropdown-menu">
        <li><a  ng-class="{dropactive : selectedstatus == ''}" href="" ng-click="changetype('All')">All</a></li>
        <li ><a ng-class="{dropactive : selectedstatus == 'Ongoing'}" href="" ng-click="changetype('Ongoing')">Ongoing</a></li>
        <li><a ng-class="{dropactive : selectedstatus == 'Completed'}" href="" ng-click="changetype('Completed')">Completed</a></li>
        <li><a ng-class="{dropactive : selectedstatus == 'Upcoming'}" href="" ng-click="changetype('Upcoming')">Upcoming</a></li>
   </ul>
  	</span>
  	<a href = "" ng-click="backfun()" class="pull-left"><i class="fa fa-angle-left">&nbsp;&nbsp;</i></a><h2>{{title}}</h2>
  	
</div>
	
	<p></p>
	<span ng-show="!loader">	
	<div class="navbar navbar-app mt10">
    		<div class="btn-group justified">
    			<a ng-repeat="type in projectType" role="tab" data-toggle="tab" data-target= "#" class="btn btn-navbar sub-tab " ng-class="{tabactive : type.typeid == selectedcity}" ng-click= "changecity(type.typeid)">{{type.typetitle}}</a>
    		</div>
  	</div>
	<div class="list-group cards" ng-repeat="project in (filteredprojects = (projectList | filter:{ projectstatus: selectedstatus,ptypeid :selectedcity} | orderBy: 'projectstatus' : true)) " >
	  	<a href="#/Project/{{project.projectid}}" class="list-group-item active">
	  		<div class="imgPlace"><img class="img-responsive" src="{{project.image}}{{imgappend}}"></div>
	    		<h4 class="list-group-item-heading">{{project.projecttitle}}</h4>
	    		<span>[{{project.city}} - {{project.typetitle}} - {{project.projectstatus}}]  </span>
	    	</a>
	    	<hr>
	</div>
	<p class="noresult" ng-show="(filteredprojects).length == 0">Sorry, No Projects In This Category.</p>	
	</span>
	<img src="img/loading.gif" style="align:center;" ng-show="loader">  
  	</div>
</div>


