<div class="scrollable">
  	<div class="scrollable-content">
  	<div class="subHeader"><a href = "" ng-click="backfun()" class="pull-left"><i class="fa fa-angle-left">&nbsp;&nbsp;</i></a><h2>{{title}}</h2></div>
  	<span ng-show="!loader">	
  	<form  role="form" name="contactform" novalidate>
  	<p></p>
  		<div class="form-group">
    		<label for="inputName" class="col-sm-2 control-label">Name</label>
   	   	<div class="col-sm-12">
      		<input type="text" class="form-control col-sm-4 formpadd" id="inputName3" name="name" placeholder="* Enter Your Full Name" ng-model="formInfo.name" required ng-blur="errormsg()">
				  			
    			</div>
    			 <span  class= "inerror col-sm-12" ng-show="nameerror">Please enter the Name</span>
  		</div>	
  		<div class="form-group">
    		<label for="inputEmail" class="col-sm-2 control-label">Email</label>
    		<div class="col-sm-12">
      		<input type="email" class="form-control col-sm-4 formpadd" id="inputEmail3" placeholder="* Enter Your Email Address" name ="email" ng-model="formInfo.email" required ng-blur="emailfun()">      		
    		</div>
    			<span   class= "inerror  col-sm-12" ng-show="emailerror">Please enter the valid Email Address</span>
  		</div>
  		<div class="form-group">
    		<label for="inputSubject3" class="col-sm-2 control-label">Subject</label>
    		<div class="col-sm-12">
      		<input type="text" class="form-control col-sm-4 formpadd" id="inputSubject3" placeholder="* Enter Subject" name="subject" ng-model="formInfo.subject" required ng-blur="submsg()">
				    		
    		</div>
    		 <span   class= "inerror col-sm-12" ng-show="subjecterror">Please enter the Subject</span>
  		</div>
  		<div class="form-group">
    		<label for="inputMessage" class="col-sm-2 control-label">Message</label>
    		<div class="col-sm-12">
    			<textarea class="form-control col-sm-4 formpadd"  placeholder="* Enter Message" id="inputMessage3" ng-model="formInfo.message" name="message" rows="3" required ng-blur="messfun()"></textarea>
      		  
    		</div>
    		<span  class= "inerror col-sm-12" ng-show="messageerror">Please enter the Message</span>
  		</div>
  		<div class="form-group">
    		<div class=" col-sm-12 padd-btn">
      		<button type="submit" class="btn btn-info btn-color col-sm-2" ng-click="formInfo.submitTheForm()" ng-disabled="contactform.$invalid">Send Message</button>
    		</div>
  		</div>
  		
	</form>
	</span>
  	<img src="img/loading.gif" style="align:center;" ng-show="loader">
  	</div>
</div>