
<div class="scrollable">
  	<div class="scrollable-content">
  		<div class="subHeader"><a href = "" ng-click="backfun()" class="pull-left"><i class="fa fa-angle-left">&nbsp;&nbsp;</i></a><h2>{{gallerytitle}}</h2></div>   
  		<span ng-show="!loader">	
  			
		<div class="list-group cards" ng-repeat="gallery in galleryList">
	  		<a href="" class="list-group-item active" >
			<div class="imgPlace">	<img class="img-responsive" src="{{gallery.image}}{{imgappend}}" alt="Gallery" ng-click="openimg(gallery.image,gallery.imagetitle)" ></div>
	    		<h4 class="list-group-item-heading">{{gallery.imagetitle}}</h4>
	    		<span ng-click="downloaddata(gallery.image)">[Download]</span> 
	    		
	    		</a>
	    		<hr>
		</div>
		
		<!-- Modal Box -->
				<script type="text/ng-template" id="imgModalContent.html">
					
				<div class="modal-header">
				
					<button class="btn btn-sm btn-success pull-right" ng-click="cancel()">X</button>
					<center><p class="modal-title">{{imgnm}}</p></center>
				</div>
				
				<div class="modal-body">
				<div class="imgPlace">
				  <img src = "{{imgsrc}}" class="img-responsive" alt="Please Wait...">
				 </div>
				</div>
				
				</script>
		
		<!-- End Of Modal Box -->
		
		</span>	
		<img src="img/loading.gif" style="align:center;" ng-show="loader">
  	</div>
</div>
