<div class="scrollable">
  	<div class="scrollable-content home">
  		<div class="fullimg">
    			<carousel  interval="myInterval" >
 			<slide ng-repeat="image in imgarray" active="slide.active">
   				<img ng-src="{{image}}" class="img-responsive" style="margin:auto;">
 			</slide>
    			</carousel>
  		</div>
		<p>&nbsp;</p>
		<div class="container">
			<div class="row">
				<div class="col-sm-3 col-xs-3"><a href="#/about" class="homelnk"><i class="fa fa-building-o"></i><br>About Us</a></div>		
				<div class="col-sm-3 col-xs-3 col-sm-offset-1 col-xs-offset-1"><a href="#ProjectSelect" class="homelnk"><i class="fa fa-list"></i><br>Projects</a></div>		
				<div class="col-sm-3 col-xs-3 col-sm-offset-1 col-xs-offset-1"><a href="#/news" class="homelnk"><i class="fa fa-star"></i><br>News</a></div>		
			</div>
		</div><br>
		<div class="container">	
			<div class="row">
				<div class="col-sm-3 col-xs-3 col-sm-offset-1 col-xs-offset-1"><a href="#/gallery" class="homelnk"><i class="fa fa-camera"></i><br>Gallery</a></div>						
				<div class="col-sm-3 col-xs-3 col-sm-offset-1 col-xs-offset-1"><a href="#/contact-us" class="homelnk"><i class="fa fa-envelope"></i><br>Inquiry</a></div>	
				<div class="col-sm-3 col-xs-3 col-sm-offset-1 col-xs-offset-1"><a href="#/reach-us" class="homelnk"><i class="fa fa-map-marker white"></i><br>Reach Us</a></div>		
			</div>		
		</div>
  	</div>
</div>




