<div class="scrollable " >
  	<div class="scrollable-content">
		<div class="subHeader"><a href = "" ng-click="backfun()" class="pull-left"><i class="fa fa-angle-left">&nbsp;&nbsp;</i></a><h2>{{title}}</h2></div> 
		<span ng-show="!loader">		
		<div class="fullimg"><img src="img/media-newsevents.jpg" class="img-responsive"></div>		
  		<div class="media cards" ng-repeat="news in newsList">
  			<div class="media-body">
  				
				<div class="newsdate">
				<i class="fa fa-calendar"></i>
				{{ news.newsdate }}
				</div> 
				{{ news.description }}
  			</div>
		</div>
		<p class="noresult" ng-show="(newsList).length == 0">Sorry, No News Found ..</p>
		</span>	
		<img src="img/loading.gif" style="align:center;" ng-show="loader">
  	</div>
</div>