<div class="scrollable " >
  	<div class="scrollable-content">
		<div class="subHeader"><a href = "" ng-click="backfun()" class="pull-left"><i class="fa fa-angle-left">&nbsp;&nbsp;</i></a><h2>{{title}}</h2></div> 
		<span ng-show="!loader">			
  		<div class="media cards" ng-repeat="notification in notificationList">
  			<div class="media-body notification">
  					<a href = "{{notification.notificationlink}}">
  					<h4 class="media-heading newsdate">{{ notification.notificationtitle }}</h4>
					<p>{{ notification.notificationdesc }} </p>
					</a>
  			</div>
		</div>
		<p class="noresult" ng-show="(notificationList).length == 0">No Notifications yet ..</p>
		</span>	
		<div id="app-status-ul"></div>
		<img src="img/loading.gif" style="align:center;" ng-show="loader">
  	</div>
</div>

