<div class="scrollable">
  	<div class="scrollable-content">
  	<div class="subHeader"><a href = "#/" class="pull-left"><i class="fa fa-angle-left">&nbsp;&nbsp;</i></a><h2>{{title}}</h2></div>
  	<form  role="form" name="opportunityform" novalidate>
  		<div class="form-group">
    		<label for="inputName" class="col-sm-2 control-label">Name</label>
   	   	<div class="col-sm-12">
      		<input type="text" class="form-control col-sm-4 formpadd" id="inputName3" name="name" placeholder="* Name" ng-model="formInfo.name" required  ng-blur="errorfun('1')">
    		</div>
    		<span id="nameer" class= "inerror col-sm-12" ng-show="opportunityform.name.$error.required && nameerror">Please enter the Name</span>
  		</div>	
  		<div class="form-group">
    		<label for="inputEmail" class="col-sm-2 control-label">Email</label>
    		<div class="col-sm-12">
      		<input type="email" class="form-control col-sm-4 formpadd" id="inputEmail3" name="email" placeholder="* Valid Email Address" ng-model="formInfo.email" required ng-blur="errorfun('3')">
    		</div>
    		<span id="emailer" class= "inerror  col-sm-12" ng-show="opportunityform.email.$invalid && emailerror">Please enter the valid Email Address</span>
  		</div>
  		<div class="form-group">
    		<label for="inputEmail" class="col-sm-2 control-label">Contact No.</label>
    		<div class="col-sm-12">
      		<input type="text" class="form-control col-sm-4 formpadd" id="inputContact3" placeholder="* Contact Number" ng-model="formInfo.phone" name="contact" required ng-blur="errorfun('2')">
    		</div>
    		 <span id="contacter"  class= "inerror col-sm-12" ng-show="opportunityform.contact.$error.required && contacterror">Please enter the Contact No.</span>
  		</div>
  		<!--
  		<div class="form-group">
    		<label for="inputEmail" class="col-sm-2 control-label">Upload File</label>
    		<div class="col-sm-12">
      		<input type="file" class="form-control col-sm-4 formpadd" id="inputFile3"  ng-model="formInfo.resume" required style="padding-top:0px;">
    		</div>
  		</div>
  		-->
  		<div class="form-group">
    		<label for="inputMessage" class="col-sm-2 control-label">Message</label>
    		<div class="col-sm-12">
    			<textarea class="form-control col-sm-4 formpadd"  placeholder="* Message" id="inputMessage3" ng-model="formInfo.address" rows="3" required ng-blur="errorfun('4')" name="message"></textarea>
      
    		</div>
  		</div>
  		<span  id="messageer" class= "inerror col-sm-12" ng-show="opportunityform.message.$error.required && messageerror">Please enter the Message</span>
  		<div class="form-group">
    		<div class="col-sm-12 padd-btn">
      		<button type="submit" class="btn btn-info btn-color col-sm-2" ng-click="formInfo.submitTheForm()" ng-disabled="opportunityform.$invalid">Send </button>
				<span ng-show="display">  Please Wait..Your Request is being processed</span>    		
    		</div>
  		</div>
  		
	</form>
  	</div>
</div>