<div class="scrollable">
  	<div class="scrollable-content">
  	<div class="subHeader"><a href = "#/" class="pull-left"><i class="fa fa-angle-left">&nbsp;&nbsp;</i></a><h2>{{title}}</h2></div>
  	<form  role="form" name="opportunityform" novalidate>
  		<div class="form-group">
    		<label for="inputEmail" class="col-sm-2 control-label">Upload File</label>
    		<div class="col-sm-12">
      			 <button id="fileinput" name="fileinput" ng-click="openfile()"/>Upload</button>
    		</div>
  		</div>
	</form>
  	</div>
</div>