<div class="scrollable">
  	<div class="scrollable-content">
  	<div class="subHeader"><a href = "" ng-click="backfun()" class="pull-left"><i class="fa fa-angle-left">&nbsp;&nbsp;</i></a><h2>{{title}}</h2></div>
	<span ng-show="!loader">	
	<div class="navbar navbar-app mt10">
    		<div class="btn-group justified">
    			<a ng-repeat="type in projectType" role="tab" data-toggle="tab" data-target= "#" ng-class="{tabactive : type.typetitle == category}" ng-click= "changecat(type.typetitle)" class="btn btn-navbar sub-tab " >{{type.typetitle}}</a>
    		</div>
  	</div>
  	
	<div class="list-group cards" ng-repeat="project in projectList | filter:{ typetitle: category} | orderBy:projectstatus:reverse">
	  	<a href="#/Project/{{project.projectid}}" class="list-group-item active">
			<div class="imgPlace"><img class="img-responsive" src="{{project.image}}{{imgappend}}" alt="{{project.projecttitle}}"  ></div>
	    		<h4 class="list-group-item-heading">{{project.projecttitle}}</h4>
	    		<span>[{{project.typetitle}} - {{project.projectstatus}}]  </span>
	    	</a>
	    	<hr>
	</div>
	</span>
	<img src="img/loading.gif" style="align:center;" ng-show="loader"> 
	<p class="noresult" ng-show="(projectList).length == 0">Sorry, No Results Found ..</p>
		  
  	</div>
</div>


