<div class="scrollable">
  	<div class="scrollable-content">
  	<div class="subHeader"><a href = "#/ProjectSelect/{{projectDetail.cityid}}" class="pull-left"><i class="fa fa-angle-left">&nbsp;&nbsp;</i></a><h2>{{projectDetail.title}}</h2></div>
  	<span ng-show="!loader">	
  	
  	<div class="fullimg imgPlace"><img class="img-responsive"  src="{{projectDetail.gallery}}{{imgappend}}" alt="{{projectDetail.title}}" ></div>
  	<div class="navbar navbar-app mt10">
    		<div class="btn-group justified">
    			<a ng-show="projectDetail.overview.length != 0 || projectDetail.status.length != 0 || projectDetail.bookstatus.length != 0 || projectDetail.area.length != 0 || projectDetail.units.length != 0" ng-click="changeview('overview')" class="btn btn-navbar sub-tab" ng-class="{tabactive : doverview}" ><i class="fa fa-bars"></i></a>
    			<a ng-show="projectDetail.floorplan.length != 0" class="btn btn-navbar sub-tab " ng-click="changeview('floorplan')" ng-class="{tabactive : dfloorplan}"><i class="fa fa-building-o"></i></a>
    			<a ng-show="projectDetail.location.length != 0" class="btn btn-navbar sub-tab " ng-click="changeview('location')" ng-class="{tabactive : dlocation}" ><i class="fa fa-map-marker"></i></a>
    			<a ng-show="projectDetail.brochure != ''" class="btn btn-navbar sub-tab " ng-click="changeview('brochure')" ng-class="{tabactive : dbrochure}" ><i class="fa fa-file-pdf-o"></i></a>
    			<a ng-show="projectDetail.videourl != ''" class="btn btn-navbar sub-tab "  ng-click="changeview('video')" ng-class="{tabactive : dvideo}"><i class="fa fa-youtube-play"></i></a>
    			<a class="btn btn-navbar sub-tab" href='' ng-click="changeview('projectgallery')" ng-class="{tabactive : dprojectgallery}"><i class="fa fa-camera"></i></a>
    			<a ng-show="projectDetail.sitegallery == '1'" class="btn btn-navbar sub-tab" href='' ng-click="changeview('sitegallery')" ng-class="{tabactive : dsitegallery}"><i class="fa fa-camera-retro"></i></a>
    			<a class="btn btn-navbar sub-tab " ng-click="changeview('share')" ng-class="{tabactive : dshare}" ><i class="fa fa-share-alt " ></i></a>
    		</div>
  	</div>
  	
  	<!-- overview section -->
  	<div ng-show="doverview">
		<p id='overviewid' ng-bind-html="projectDetail.overview|html"></p>
		<table summary="" class="table" >
			<tr ng-show="projectDetail.status.length != 0"><td>Status : </td><td>{{projectDetail.status}}</td></tr>
			<tr ng-show="projectDetail.bookstatus.length != 0"><td>Booking : </td><td>{{projectDetail.bookstatus}}</td></tr>
			<tr ng-show="projectDetail.area.length != 0"><td>Area : </td><td>{{projectDetail.area}}</td></tr>
			<tr ng-show="projectDetail.units.length != 0"><td>Units : </td><td>{{projectDetail.units}}</td></tr>
		</table>

 	</div>
 	<!-- end overview -->
 	
 	<!-- location -->
 	<div ng-show="dlocation" >
 		<a href="" >
 		<span ng-click="downloaddata(projectDetail.location)" class="pull-right">[Download]</span><br>
 		<div class="imgPlace"><img class="img-responsive" src="{{projectDetail.location}}{{imgappend}}" alt="{{projectDetail.title}}" >
		</div> 		
 		</a>
 	</div>
 	<!-- end location -->
 	
 	
 	<div ng-show="dbrochure">
 		<img src="img/progressbar.gif" style="align:center;" ng-show="downloading">
 		<p ng-show="!downloading">{{downloadmsg}}</p>
	</div>

	 <!-- end brochure -->
	 <!--floor plan-->
	<div ng-show="dfloorplan" class="list-group cards" ng-repeat="floors in floorarray">
	  	<a href="" class="list-group-item active">
		  
		<div class="imgPlace"><img class="img-responsive" src="{{floors}}{{imgappend}}" ng-click="openimg(floors,floortitlearray[$index])" alt="{{projectDetail.title}}"></div>
			<h4 class="list-group-item-heading">{{floortitlearray[$index]}}</h4>
			<span ng-click="downloaddata(floors)">[Download]</span>
	   	</a>
	    <hr>
	</div>	 

	<!-- end floorplan-->
	
	<!--project gallery-->
	<div ng-show="dprojectgallery" class="list-group cards" ng-repeat="progal in projectDetail.progallery">
	  	<a href="" class="list-group-item active">
		<div class="imgPlace"><img class="img-responsive" src="{{progal.image}}{{imgappend}}" ng-click="openimg(progal.image,projectDetail.title)" ></div>
			
	   	</a>
	    <hr>
	</div>	 

	<!-- end project gallery-->
	
	<!--site gallery-->
	<div ng-show="dsitegallery" class="list-group cards" ng-repeat="sitegal in projectDetail.site">
	  	<a href="" class="list-group-item active">
		<div class="imgPlace"><img class="img-responsive" src="{{sitegal.image}}{{imgappend}}" ng-click="openimg(sitegal.image,projectDetail.title)" ></div>
			
	   	</a>
	    <hr>
	</div>	 

	<!-- end site gallery-->
	
	<!-- Video -->
	<div ng-show="dvideo">
		<!--<div my-youtube code="code"></div> -->
	</div>
	<!-- end video -->
	
	<!-- Modal Box -->
	<script type="text/ng-template" id="imgModalContent.html">
		
	<div class="modal-header">
		
		<button class="btn btn-sm btn-success pull-right" ng-click="cancel()">X</button>
		<center><p class="modal-title">{{imgnm}}</p></center>
		
	</div>
	
	<div class="modal-body">
	<div class="imgPlace">
	  <img src = "{{imgsrc}}" class="img-responsive" alt="Please Wait...">
	 </div>
	</div>
	
	</script>
		
	<!-- End Of Modal Box -->
	
	</span>
	<img src="img/loading.gif" style="align:center;" ng-show="loader">
  	</div>
</div>
