<div class="scrollable">
  	<div class="scrollable-content">
  	<div class="subHeader"><a href = "" ng-click="backfun()" class="pull-left"><i class="fa fa-angle-left">&nbsp;&nbsp;</i></a><h2>{{title}}</h2></div>
  	<span ng-show="!loader">	
	<form role="form" name="contactform" novalidate>  	
	<p></p>
  	<div class="form-group">
 	<label for="inputName" class="col-sm-2 control-label radio-label" style="padding-top:15px;">Select City</label>
 	<div class="col-sm-12">
	 <div class="btn-group search-grp">
	 <label class="btn btn-primary search-btn" name="currentActivity1" data-ng-repeat="project in projectCity" ng-model="$parent.projectc" btn-radio="'{{project.typeid}}'" ng-change="getProjects(project.typeid)" >{{project.typetitle}}</label>
 	
	</div>
	</div>
	</div>
	
	<div class="form-group">
 	<label for="inputName" class="col-sm-2 control-label radio-label" style="padding-top:15px;">Select Type</label>
 	<div class="col-sm-12">
	 <div class="btn-group search-grp">
        <label class="btn btn-primary search-btn" name="currentActivity2" data-ng-repeat="projecttype in projectType" ng-model="$parent.projectt" btn-radio="'{{projecttype.typeid}}'">{{projecttype.typetitle}}</label>
      
    </div>
	</div>
	</div>	
	
	<div class="form-group">
 	<label for="inputName" class="col-sm-2 control-label radio-label" style="padding-top:15px;">Select Status</label>
 	<div class="col-sm-12">
	<div class="btn-group search-grp">
        <label class="btn btn-primary search-btn" ng-model="status" btn-radio="'All'">All</label>
        <label class="btn btn-primary search-btn" ng-model="status" btn-radio="'Ongoing'">Ongoing</label>
        <label class="btn btn-primary search-btn" ng-model="status" btn-radio="'Completed'">Completed</label>
        <label class="btn btn-primary search-btn" ng-model="status" btn-radio="'Upcoming'">Upcoming</label>
    </div>
	</div>
		</div>
	<div class="form-group">
    <div class="col-sm-12 padd-btn1">	
	 <button type="submit" class="btn btn-info btn-color col-sm-2" ng-click="submitSearch()">Search</button>
 	</div>
 	</div>	 	
  </form>
  </span>	
  <img src="img/loading.gif" style="align:center;" ng-show="loader">
  
</div>
<div class="searchbtm"><img src="img/front-small.png"></div>
</div>
