<div class="scrollable">
  	<div class="scrollable-content">
  	<div class="subHeader"><a href = "#/Project-Option" class="pull-left"><i class="fa fa-angle-left">&nbsp;&nbsp;</i></a><h2>{{detail[0].parent}}</h2></div>
	  <span ng-show="!loader">	
	  	<ol class="breadcrumb">
  		<li>{{detail[0].typetitle}}</li>
  		<li class="active">{{titlestatus}}</li>
		</ol>
		
	  	<div class="list-group cards" ng-model="listing" ng-repeat="project in projectList |filter:{ projectstatus: status}">
	  		<a class="list-group-item active" href="#/Project/{{project.projectid}}">
	  		<div class="imgPlace"><img class="img-responsive" src="{{project.image}}{{imgappend}}" ></div>
	  			<h4 class="list-group-item-heading">{{project.projecttitle}}</h4>
  				<span>[{{detail[0].typetitle}}]</span>
  			</a>
		</div>
		
		<p class="noresult" ng-show="(projectList | filter:status).length == 0">Sorry, No Results Found Matching your Criteria!</p>
		</span>
		<img src="img/loading.gif" style="align:center;" ng-show="loader">
  	</div>
</div>
