<div class="scrollable " >
  	<div class="scrollable-content">
  		<div class="subHeader"><a href = "" ng-click="backfun()" class="pull-left"><i class="fa fa-angle-left">&nbsp;&nbsp;</i></a><h2>{{title}}</h2></div>
  		<span ng-show="!loader">	
  		<div class="fullimg"><img src="img/media-successstories.jpg" class="img-responsive"></div>	
  		<div class="media cards" ng-repeat="story in storyList">
  			<div class="media-body">
    				<h4 class="media-heading newsdate">{{ story.name }}</h4>
   		 		<p>{{ story.description }} </p>
  			</div>
		</div>
		</span>
		<img src="img/loading.gif" style="align:center;" ng-show="loader">
  	</div>
</div>