<!DOCTYPE html>
<html ng-app="hindvaApp" >
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="css/mobile-angular-ui-hover.min.css" />
	<link rel="stylesheet" href="css/mobile-angular-ui-base.min.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link href="animations.css" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="css/app.css" />
	
  	<!-- SPELLS -->
  	<script src="js/libs/angular.min.js"></script>
  	<script src="js/libs/angular-route.min.js"></script>
  	<script src="js/libs/ui-bootstrap-tpls-0.11.0.js"></script>
  	<script src="js/libs/ng-storage.js"></script>
  	<script src="js/libs/angular-animate.js"></script>
  	<script src="js/libs/mobile-angular-ui.min.js"></script>
  	
  	
  	<script type="text/javascript" src="cordova.js"></script>
  	<script type="text/javascript" src="PushNotification.js"></script>
  	<script type="text/javascript" src="ShortcutPlugin.js"></script>
  	
  	<script src="js/app.js"></script>
  	
  	<script type="text/javascript" src="js/index.js"></script>
  	
</head>
<!-- define angular controller -->
<body >
<div class="sidebar sidebar-left" toggleable parent-active-class="sidebar-left-in" id="mainSidebar"  >
  <h1 class="app-name">Navigation</h1>

  <div class="scrollable">
    <div class="scrollable-content">
      <div class="list-group slidemenu" toggle="off" bubble target="mainSidebar"  >
      	<ul>
			<li><h4 class="list-group-item-heading"><i class="fa fa-search"></i>&nbsp;Browse by City</h4>
				<ul>
					<li><a href="#ProjectSelect/1">Surat</a></li>	
					<li><a href="#ProjectSelect/2">Ahmedabad</a></li>	
					<li><a href="#ProjectSelect/3">Mumbai</a></li>	
				</ul>			
			
			</li>
			<li><a href="#/home"><i class="fa fa-home"></i>&nbsp;Home</a></li>	            	
         		<li><a href="#/about"><i class="fa fa-building-o"></i>&nbsp;About Us</a></li>
         		<li><a href="#/success-story"><i class="fa fa-comment"></i>&nbsp;Success Stories</a></li>
         		<li><a href="#/news"><i class="fa fa-star"></i>&nbsp;News & Events</a></li>
         		<li><a href="#/gallery"><i class="fa fa-camera"></i>&nbsp;Gallery</a></li>
         		<li><a href="#/contact-us"><i class="fa fa-envelope"></i>&nbsp;Inquiry</a></li>
         		<li><a href="#/reach-us"><i class="fa fa-map-marker black"></i>&nbsp;Reach Us</a></li>
         		<li><a href="" onclick="exapp()"><i class="fa fa-power-off"></i>&nbsp;Exit</a></li>
			</ul>
        		
      </div>

    </div>
  </div>
</div>

<div class="app">
<div class="sub-navbar navbar-app navbar-absolute-top" ng-show="subscribeheader">
     <div class="navbar-brand navbar-brand-center">
        <img src="img/logo-blue.png" alt="">
     </div>
      <div class="btn-group pull-right" >
        <a href="" class="btn btn-navbar" onclick="exapp()">
          <i class="fa fa-power-off" ></i>
        </a>
     </div>
  </div>

  <!-- Navbars -->
  <div class="navbar navbar-app navbar-absolute-top" ng-show="!subscribeheader">

     <div class="navbar-brand navbar-brand-center" yield-to="title" >
        <img src="img/logo-blue.png" alt=""  >
     </div>
    
	<div class="btn-group pull-left" >
        <div ng-click="toggle('mainSidebar')" class="btn btn-navbar sidebar-toggle"  >
          <i class="fa fa-bars color-red" ></i>
        </div>
     </div>
	<div class="btn-group pull-right">
		<a href="#/notification" class="btn btn-navbar"><i class="fa fa-globe"  ></i></a>
        <a href="#/Project-Option" class="btn btn-navbar">
          <i class="fa fa-search" ></i>
        </a>
     </div>
  </div>
  
	<div class="navbar navbar-app navbar-absolute-bottom homefooter"  ng-show="homefooter">
		<div class="fullimg"><img src="img/front.png" class="img-responsive" ></div>
    	</div>
    	<div class="navbar-app navbar-absolute-bottom subscribe-footer" ng-show="subfooter" >
    	</div>
   	<div class="navbar navbar-app navbar-absolute-bottom"  ng-show="innerfooter">
    		<div class="btn-group justified">
      		<a href="#/home" class="btn btn-navbar btn-icon-only"><i class="fa fa-home fa-navbar"></i></a>
      		<a href="#ProjectSelect" class="btn btn-navbar btn-icon-only"><i class="fa fa-list fa-navbar"></i></a>
      		<a href="#/contact-us" class="btn btn-navbar btn-icon-only"><i class="fa fa-envelope fa-navbar"></i></a>
      		<a href="" class="btn btn-navbar btn-icon-only"  onclick="exapp()"><i class="fa fa-power-off fa-navbar"></i></a>
    		</div>
  	</div>
  <div class="app-body">
	<ng-view class="app-content"></ng-view>
  </div>
</div>
</body>
</html>
